<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="contact">
  <ion-item>
    <ion-icon aria-hidden="true" name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ contact.fromName }}
        <span class="date">
          <ion-note>{{ contact.date }}</ion-note>
        </span>
      </h2>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <h1>{{ contact.phoneNumber }}</h1>
    <h2>{{ contact.subject }}</h2>
    <h2>{{ contact.date }}</h2>
  </div>
</ion-content>
