<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Main page
      <h2>{{ getFullName() }}</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
   
  <ion-list>
    <app-contact *ngFor="let contact of getContacts()" [contact]="contact"></app-contact>
  </ion-list>
  <ion-button class="logout-box" expand="block" (click)="logout()">Logout</ion-button>
</ion-content>