.app-name-main {
    font-family: 'Merienda One', cursive !important;
    font-size: 40px;
}

.main-grid {
    padding-bottom: 2.5rem;
}
@media (min-width: 576px) {
    .main-grid {
        padding-top: 5rem;
    }
}

.login-box {
    box-sizing: border-box;
    padding: 25px;
}
@media (min-width: 576px) {
    .login-box {
        border: 1px solid;
    }
}    
